<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HealthBodyTestNGTests">
	<parameter name="testDatabase" value="healthbodydbtest" />
	<test name="UnitTests">
		<packages>
			<package name="edu.softserveinc.healthbody.webclient.*" />
		</packages>
	</test>
</suite>
